@import "../fonts/fontStyle.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: #171718;
  }
  header {
    background-color: #171718;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    z-index: 100;
    position: relative;
  }
  header .rightSection {
    display: flex;
    align-items: center;
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
  header .rightSection > a {
    font-family: "HankenGrotesk";
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
  }
  header .menuBar {
    position: relative;
    width: 40px;
  }
  header .menuBar span {
    position: absolute;
    background-color: white;
    width: 36.3px;
    height: 1.82px;
    right: 0;
    transition: 0.5s ease-in-out;
  }
  header .menuBar span:first-child {
    top: -3.5px;
  }
  header .menuBar span:last-child {
    top: 3.5px;
  }
  .menuFooter {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 19px 10px 24px;
  }
  .menuFooter a {
    position: relative;
  }
  .menuFooter > a::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: black;
    height: 1px;
    left: 0;
    bottom: 0;
  }
  .menuFooter h3 {
    margin-top: 14px;
    font-size: 21px;
    font-weight: 400;
    color: #171718;
    text-align: center;
    font-family: "VladimirScript";
  }
  .menuFooter .socialBtns {
    margin-top: 23px;
    display: flex;
    -moz-column-gap: 13px;
         column-gap: 13px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .menuFooter .socialBtns a {
    text-decoration: none;
  }
  .menuFooter .socialBtns::after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: black;
    height: 1px;
    left: 0;
    bottom: -19px;
  }
  .menuFooter .copyRight {
    margin-top: 41px;
  }
  .menuFooter .copyRight p {
    font-size: 9.36px;
    font-family: "HankenGrotesk";
    font-weight: 300;
    color: black;
    text-align: center;
    margin-bottom: 9px;
  }
  .menuFooter .copyRight p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
  }
  .openHamburgurMenu {
    background-color: #171718;
    position: fixed;
    overflow: scroll;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 15;
    transform: translateY(-140%);
    justify-content: space-between;
  }
  .openHamburgurMenu .menuList ul {
    text-align: center;
    padding-top: 131px;
  }
  .openHamburgurMenu .menuList ul li {
    padding-bottom: 40px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .openHamburgurMenu .menuList ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 24px;
    transform: translateY(150%);
    opacity: 0;
  }
  .openHamburgurMenu .downloadVita {
    display: flex;
    justify-content: space-between;
    padding: 0 23px 51px 23px;
    align-items: center;
  }
  .openHamburgurMenu .downloadVita > a {
    text-decoration: none;
    color: white;
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 12px;
    width: 137px;
    line-height: 15.64px;
    text-align: right;
  }
  .openHamburgurMenu .downloadVita .socialBtns {
    display: flex;
    align-items: center;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
  .closeClick span {
    top: 0 !important;
    transition: 0.5s ease-in-out;
  }
  .closeClick span:first-child {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
  }
  .closeClick span:last-child {
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
  }
  footer {
    position: absolute;
    bottom: 0;
    background-color: #171718;
    width: 100%;
  }
  footer .downloadVita {
    display: flex;
    justify-content: space-between;
    padding: 0 23px 51px 23px;
    align-items: center;
  }
  footer .downloadVita > a {
    text-decoration: none;
    color: white;
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 12px;
    width: 137px;
    line-height: 15.64px;
    text-align: right;
  }
  footer .downloadVita .socialBtns {
    display: flex;
    align-items: center;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
  .footer2 {
    background-color: #272727;
    width: -webkit-fill-available;
    text-align: center;
    padding: 49px 24px 9px 24px;
  }
  .footer2 .footerMenu {
    margin-top: 29px;
  }
  .footer2 .footerMenu ul {
    display: flex;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .footer2 .footerMenu ul li a {
    font-family: "HankenGrotesk";
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
  }
  .footer2 .footerSocialBtns {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
  .footer2 .copyRight {
    margin-top: 50px;
  }
  .footer2 .copyRight p {
    font-weight: 200;
    font-size: 10.79px;
    line-height: 14.06px;
    font-family: "HankenGrotesk";
    color: #f8f7f7;
    margin-bottom: 10.5px;
  }
  .footer2 .copyRight p strong {
    font-weight: 500;
  }
  .footer2 .copyRight p a {
    font-weight: 500;
    color: #f8f7f7;
    text-decoration: none;
  }
  .introToTop {
    transform: translateY(-100%);
    transition: 1s ease-in-out;
  }
  .intro {
    position: absolute;
    height: 100vh;
    background: #171718;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 100000;
  }
  .intro video {
    width: 100%;
    -o-object-fit: cover;
    margin-top: -110px;
    object-fit: cover;
  }
  .intro .introTitle {
    position: absolute;
    left: 24px;
    margin-top: 300px;
    width: 130px;
    z-index: 10000;
    transform: translateY(100%);
    opacity: 0;
  }
  .intro .introTitle h1 {
    font-size: 24px;
    font-family: "HankenGrotesk";
    color: #fff;
    font-weight: 700;
    line-height: 24.55px;
  }
  .default {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #171718;
  }
  .default .swiper-container {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .default .swiper-container > .swiper-slide__content {
    position: absolute;
    top: 0;
  }
  .default .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms linear;
    transform: scale(0.8);
  }
  .default .swiper-slide.swiper-slide-active {
    transform: scale(1);
  }
  .default .swiper-slide a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  .default .swiper-slide a .defaultTitle {
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .default .swiper-slide a .defaultTitle h2 {
    font-family: "HankenGrotesk";
    font-weight: 400;
    font-size: 24px;
    margin-top: 17px;
    line-height: 31.27px;
    white-space: nowrap;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
  }
  .default .swiper-slide img {
    width: 265px;
  }
  .default .swiper-slide-active .defaultTitle h2 {
    transform: translateY(0) !important;
    transition: 1s ease-in-out !important;
  }
  .catalog {
    background-color: #171718;
    padding: 55px 25px;
    min-height: 426px;
  }
  .catalog h1 {
    font-weight: 300;
    font-family: "HankenGrotesk";
    color: white;
    font-size: 24px;
  }
  .catalog .catalogList {
    margin-top: 60px;
  }
  .catalog .catalogList ul li {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
    border-bottom: 1px solid white;
  }
  .catalog .catalogList ul li h4 {
    font-size: 15px;
    font-weight: 300;
    color: white;
    font-family: "HankenGrotesk";
    line-height: 19.54px;
  }
  .catalog .catalogList ul li a {
    text-decoration: none;
    color: white;
  }
  .catalog .catalogList ul li a span {
    font-size: 10px;
    font-weight: 300;
    color: white;
    font-family: "HankenGrotesk";
  }
  .productCat {
    overflow: hidden;
    min-height: 589px;
    display: flex;
    align-items: center;
  }
  .productCat .swiper-productCat {
    width: 100%;
  }
  .productCat .swiper-productCat .swiper-slide a {
    text-decoration: none;
    color: #fff4e2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productCat .swiper-productCat .swiper-slide a h2 {
    font-family: "AdobeArabic";
    font-weight: 400;
    font-size: 21.82px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
  }
  .projectShow .section1 {
    margin-top: 96px;
    margin-bottom: 89px;
    padding: 0 21px 0 24px;
  }
  .projectShow .section1 .title {
    margin-bottom: 81px;
  }
  .projectShow .section1 .title h1 {
    color: #cbbba0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 36px;
    font-family: "HankenGrotesk";
    line-height: 38.85px;
  }
  .projectShow .section1 .projectDetails ul li {
    margin-top: 20px;
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    color: #cbbba0;
  }
  .projectShow .section1 .projectDetails ul li span {
    color: white;
  }
  .projectShow .section2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projectShow .section2 video {
    width: 100%;
  }
  .projectShow .section2 .playBtn {
    position: absolute;
  }
  .projectShow .section3 {
    margin-top: 50px;
    padding: 0 24px;
  }
  .projectShow .section3 h2 {
    font-size: 24px;
    font-family: "HankenGrotesk";
    color: #797979;
    line-height: 31.27px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .projectShow .section4 {
    padding: 0 24px;
    margin-top: 24px;
  }
  .projectShow .section4 p {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 15px;
    line-height: 19.54px;
    color: white;
    text-align: justify;
  }
  .projectShow .section5 {
    padding: 50px 26.5px;
  }
  .projectShow .section5 img {
    width: -webkit-fill-available;
    filter: brightness(0.8);
  }
  .projectShow .section6 {
    padding: 0 27px;
  }
  .projectShow .section6 h3 {
    font-size: 24px;
    font-family: "HankenGrotesk";
    color: #797979;
    line-height: 31.27px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .projectShow .section6 p {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 15px;
    line-height: 19.54px;
    color: white;
    text-align: justify;
  }
  .projectShow .section7 {
    padding: 0 24px;
  }
  .projectShow .section7 img {
    margin-top: 24px;
    width: 100%;
  }
  .projectShow .section8 {
    padding: 24px;
    margin-top: 26px;
  }
  .projectShow .section8 h3 {
    font-size: 24px;
    font-family: "HankenGrotesk";
    color: #797979;
    line-height: 31.27px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .projectShow .section8 img {
    width: 100%;
    margin-bottom: 24px;
  }
  .projectShow .section8 p {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 15px;
    line-height: 19.54px;
    color: white;
    text-align: justify;
  }
  .projectShow .section9 {
    padding: 0 24.5px;
    margin-top: 124px;
    margin-bottom: 100px;
  }
  .projectShow .section9 .location {
    position: relative;
    margin-bottom: 10px;
  }
  .projectShow .section9 .location p {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 15px;
    line-height: 19.54px;
    color: white;
    text-align: left;
  }
  .projectShow .section9 .location::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: -50px;
    left: 0;
    background-color: white;
  }
  .projectShow .section9 .detail {
    margin-bottom: 50px;
  }
  .projectShow .section9 .detail ul li {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 15px;
    line-height: 19.54px;
    color: white;
    text-align: justify;
  }
  .projectShow .section9 .detail ul li span {
    color: #808080;
  }
  .projectShow .section9 .map {
    position: relative;
  }
  .projectShow .section9 .map img {
    width: 100%;
  }
  .projectShow .section9 .map::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -50px;
    left: 0;
    background-color: white;
  }
  .projectShow .relatedProject {
    display: flex;
    padding: 0 24px 28px 24px;
    justify-content: end;
    align-items: center;
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
  .projectShow .relatedProject .relatedTitle a {
    text-decoration: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .projectShow .relatedProject .relatedTitle a span {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 14px;
    color: #959595;
  }
  .projectShow .relatedProject .relatedTitle a h4 {
    font-family: "HankenGrotesk";
    width: -moz-min-content;
    width: min-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.35px;
    color: white;
    margin-top: 5px;
  }
  .pause {
    opacity: 1;
    cursor: pointer;
  }
  .play {
    opacity: 0;
    display: none;
  }
  .productList {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .productList .arrow-scroll {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 10px;
    animation: 2s infinite arrow-scroll;
  }
  .productList .swiper-container .swiper-wrapper {
    padding-left: initial;
    margin: 0;
  }
  .productList .swiper-container .swiper-slide {
    width: -moz-fit-content;
    width: fit-content;
  }
  .productList .swiperDetails .swiper-slide-active .slide-inner {
    transform: translateX(0) !important;
    opacity: 1 !important;
    transition: 0.5s 1s;
  }
  .productList .swiperDetails .swiper-slide {
    display: flex;
    justify-content: left;
  }
  .productList .swiperDetails .swiper-slide .slide-inner {
    transform: translateX(64%);
    opacity: 0;
    transition: 0.5s;
    padding: 32px 23px 0 26px;
  }
  .productList .swiperDetails .swiper-slide a {
    text-decoration: none;
    color: white;
  }
  .productList .swiperDetails .swiper-slide a h1 {
    font-family: "HankenGrotesk";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 21.6px;
  }
  .productList .swiperDetails .swiper-slide span {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 12px;
    color: #aeaeae;
  }
  .productList .swiperDetails .swiper-slide p {
    color: white;
    font-size: 12px;
    font-family: "HankenGrotesk";
    line-height: 14.4px;
    text-align: justify;
    font-weight: 300;
    margin-top: 25px;
  }
  .projectList {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .projectList .arrow-scroll {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 10px;
    animation: 2s infinite arrow-scroll;
  }
  .projectList .swiper-container .swiper-wrapper {
    padding-left: initial;
    margin: 0;
  }
  .projectList .swiper-container .swiper-slide {
    width: -moz-fit-content;
    width: fit-content;
  }
  .projectList .swiperDetails .swiper-slide-active .slide-inner {
    transform: translateX(0) !important;
    opacity: 1 !important;
    transition: 0.5s 1s;
  }
  .projectList .swiperDetails .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .projectList .swiperDetails .swiper-slide .slide-inner {
    transform: translateX(64%);
    opacity: 0;
    transition: 0.5s;
    padding: 32px 23px 0 26px;
  }
  .projectList .swiperDetails .swiper-slide a {
    text-decoration: none;
    color: white;
  }
  .projectList .swiperDetails .swiper-slide a h1 {
    font-family: "HankenGrotesk";
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 21.6px;
  }
  .projectList .swiperDetails .swiper-slide span {
    font-family: "HankenGrotesk";
    font-weight: 300;
    font-size: 12px;
    color: #aeaeae;
  }
  .projectList .swiperDetails .swiper-slide p {
    color: white;
    font-size: 12px;
    font-family: "HankenGrotesk";
    line-height: 14.4px;
    text-align: justify;
    font-weight: 300;
    margin-top: 25px;
  }
  .aboutUS .section1 {
    padding: 41px 45px;
    text-align: center;
    margin-top: 44px;
  }
  .aboutUS .section1 h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43.21px;
    letter-spacing: -7.5%;
    color: white;
    text-transform: uppercase;
    font-family: "HankenGrotesk";
  }
  .aboutUS .section1 .briefTitle h5 {
    margin-top: 20px;
  }
  .aboutUS .section1 .briefTitle h5, .aboutUS .section1 .briefTitle span {
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: -7.5%;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "HankenGrotesk";
  }
  .aboutUS .section1 .briefTitle h5 span:first-child, .aboutUS .section1 .briefTitle span span:first-child {
    margin-right: 35px;
  }
  .aboutUS .section1 .briefTitle h5 span:last-child, .aboutUS .section1 .briefTitle span span:last-child {
    margin-left: 35px;
  }
  .aboutUS .section2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutUS .section2 video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .aboutUS .section2 .playBtn {
    position: absolute;
    z-index: 10;
  }
  .aboutUS .section3 {
    padding: 41px 25px 24px 25px;
  }
  .aboutUS .section3 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .aboutUS .section4, .aboutUS .section7 {
    padding: 0 25px 24px 25px;
  }
  .aboutUS .section4 .imgContainer, .aboutUS .section7 .imgContainer {
    position: relative;
  }
  .aboutUS .section4 .imgContainer span, .aboutUS .section7 .imgContainer span {
    position: absolute;
    right: -10px;
    writing-mode: vertical-rl;
    color: #CBBBA0;
    font-weight: 300;
    font-family: "HankenGrotesk";
    font-size: 8px;
    text-transform: uppercase;
    bottom: 2px;
  }
  .aboutUS .section4 img, .aboutUS .section7 img {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .aboutUS .section5 {
    padding: 24px 25px;
  }
  .aboutUS .section5 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .aboutUS .section6, .aboutUS .section8 {
    padding: 0 25px 24px 25px;
  }
  .aboutUS .section6 .imgContainer, .aboutUS .section8 .imgContainer {
    position: relative;
  }
  .aboutUS .section6 .imgContainer span, .aboutUS .section8 .imgContainer span {
    transform: rotate(180deg);
    position: absolute;
    left: -10px;
    writing-mode: vertical-rl;
    color: #CBBBA0;
    font-weight: 300;
    font-family: "HankenGrotesk";
    font-size: 8px;
    text-transform: uppercase;
    bottom: 4px;
  }
  .aboutUS .section6 img, .aboutUS .section8 img {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .aboutUS .section9 h2 {
    font-family: "HankenGrotesk";
    font-weight: 400;
    font-size: 32px;
    color: white;
    padding: 20px 24px 10px;
  }
  .aboutUS .section9 img {
    filter: brightness(0.55);
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .aboutUS .section10 {
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
  }
  .aboutUS .section10 h6 {
    margin-bottom: 12px;
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .aboutUS .section10 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .aboutUS .section10 a {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    border: 1px solid #FFF4E2;
    padding: 10px 32px;
    margin-top: 24px;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
    align-self: end;
  }
  .aboutUS .section11 {
    padding: 24px 25px;
    margin-bottom: 20px;
  }
  .aboutUS .section11 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .aboutUS .section11 .txtContainer {
    position: relative;
  }
  .aboutUS .section11 .txtContainer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #FFF4E2;
    top: -24px;
  }
  .factory .section1 {
    padding: 41px 45px;
    text-align: center;
    margin-top: 44px;
  }
  .factory .section1 h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 43.21px;
    letter-spacing: -7.5%;
    color: white;
    text-transform: uppercase;
    font-family: "HankenGrotesk";
  }
  .factory .section1 .briefTitle h5 {
    margin-top: 20px;
  }
  .factory .section1 .briefTitle h5, .factory .section1 .briefTitle span {
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: -7.5%;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "HankenGrotesk";
  }
  .factory .section1 .briefTitle h5 span:first-child, .factory .section1 .briefTitle span span:first-child {
    margin-right: 35px;
  }
  .factory .section1 .briefTitle h5 span:last-child, .factory .section1 .briefTitle span span:last-child {
    margin-left: 35px;
  }
  .factory .section2, .factory .section9 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .factory .section2 video, .factory .section9 video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .factory .section2 .playBtn, .factory .section9 .playBtn {
    position: absolute;
    z-index: 10;
  }
  .factory .section3 {
    padding: 41px 25px 24px 25px;
  }
  .factory .section3 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section3 h6 {
    margin-bottom: 12px;
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section4 {
    padding: 0 25px 24px 25px;
  }
  .factory .section4 .imgContainer {
    position: relative;
  }
  .factory .section4 img {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .factory .section5, .factory .section7 {
    padding: 24px 25px;
  }
  .factory .section5 p, .factory .section7 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section5 h6, .factory .section7 h6 {
    margin-bottom: 12px;
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section6, .factory .section8, .factory .section11 {
    padding: 0 25px 24px 25px;
  }
  .factory .section6 .imgContainer, .factory .section8 .imgContainer, .factory .section11 .imgContainer {
    position: relative;
  }
  .factory .section6 img, .factory .section8 img, .factory .section11 img {
    width: -moz-available;
    width: -webkit-fill-available;
  }
  .factory .section7 {
    padding-top: 0;
  }
  .factory .section10 {
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .factory .section10 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section12 img {
    width: 100%;
  }
  .factory .section13 {
    padding: 24px 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .factory .section13 h6 {
    margin-bottom: 12px;
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-align: justify;
  }
  .factory .section13 p {
    font-family: "HankenGrotesk";
    color: white;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
  }
  @keyframes arrow-scroll {
    0% {
      transform: translateX(-70%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 0;
    }
  }
}/*# sourceMappingURL=mobile-styles.css.map */