@import "../fonts/fontStyle.css";

// RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: #171718;
  }
  header {
    background-color: #171718;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    .rightSection {
      display: flex;
      align-items: center;
      column-gap: 13px;
      & > a {
        font-family: "HankenGrotesk";
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 15px;
      }
    }
    .menuBar {
      position: relative;
      width: 40px;
      span {
        position: absolute;
        background-color: white;
        width: 36.3px;
        height: 1.82px;
        right: 0;
        transition: 0.5s ease-in-out;
      }
      span:first-child {
        top: -3.5px;
      }
      span:last-child {
        top: 3.5px;
      }
    }
    z-index: 100;
    position: relative;
  }
  .menuFooter {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 19px 10px 24px;
    a {
      position: relative;
      img {
      }
    }
    & > a::after {
      position: absolute;
      content: "";
      width: 100%;
      background-color: black;
      height: 1px;
      left: 0;
      bottom: 0;
    }
    h3 {
      margin-top: 14px;
      font-size: 21px;
      font-weight: 400;
      color: #171718;
      text-align: center;
      font-family: "VladimirScript";
    }
    .socialBtns {
      margin-top: 23px;
      display: flex;
      column-gap: 13px;
      justify-content: center;
      position: relative;
      width: 100%;
      a {
        text-decoration: none;
      }
    }
    .socialBtns::after {
      position: absolute;
      content: "";
      width: 100%;
      background-color: black;
      height: 1px;
      left: 0;
      bottom: -19px;
    }
    .copyRight {
      margin-top: 41px;
      p {
        font-size: 9.36px;
        font-family: "HankenGrotesk";
        font-weight: 300;
        color: black;
        text-align: center;
        margin-bottom: 9px;
        a {
          color: black;
          text-decoration: none;
          font-weight: 600;
          text-decoration: none;
        }
        strong {
        }
      }
    }
  }
  .openHamburgurMenu {
    background-color: #171718;
    position: fixed;
    overflow: scroll;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 15;
    transform: translateY(-140%);

    justify-content: space-between;
    .menuList {
      ul {
        text-align: center;
        padding-top: 131px;
        li {
          padding-bottom: 40px;
          //   overflow: hidden;
          height: fit-content;
          a {
            text-decoration: none;
            color: white;
            display: block;
            font-family: "HankenGrotesk";
            font-weight: 300;
            font-size: 24px;
            transform: translateY(150%);
            opacity: 0;
          }
        }
      }
    }
    .downloadVita {
      display: flex;
      justify-content: space-between;
      padding: 0 23px 51px 23px;
      align-items: center;
      & > a {
        text-decoration: none;
        color: white;
        font-family: "HankenGrotesk";
        font-weight: 300;
        font-size: 12px;
        width: 137px;
        line-height: 15.64px;
        text-align: right;
      }
      .socialBtns {
        display: flex;
        align-items: center;
        column-gap: 14px;
      }
    }
  }
  .closeHamburgurMenu {
  }
  .closeClick {
    span {
      top: 0 !important;
      transition: 0.5s ease-in-out;
    }
    span:first-child {
      transform: rotate(45deg);
      transition: 0.5s ease-in-out;
    }
    span:last-child {
      transform: rotate(-45deg);
      transition: 0.5s ease-in-out;
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    background-color: #171718;
    width: 100%;
    .downloadVita {
      display: flex;
      justify-content: space-between;
      padding: 0 23px 51px 23px;
      align-items: center;
      & > a {
        text-decoration: none;
        color: white;
        font-family: "HankenGrotesk";
        font-weight: 300;
        font-size: 12px;
        width: 137px;
        line-height: 15.64px;
        text-align: right;
      }
      .socialBtns {
        display: flex;
        align-items: center;
        column-gap: 14px;
      }
    }
  }
  .footer2 {
    background-color: #272727;
    width: -webkit-fill-available;
    text-align: center;
    padding: 49px 24px 9px 24px;
    .footerMenu {
      margin-top: 29px;
      ul {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        li {
          a {
            font-family: "HankenGrotesk";
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }
    .footerSocialBtns {
      display: flex;
      justify-content: center;
      margin-top: 70px;
      column-gap: 13px;
    }
    .copyRight {
      margin-top: 50px;
      p {
        font-weight: 200;
        font-size: 10.79px;
        line-height: 14.06px;
        font-family: "HankenGrotesk";
        color: #f8f7f7;
        margin-bottom: 10.5px;
        strong {
          font-weight: 500;
        }
        a {
          font-weight: 500;
          color: #f8f7f7;
          text-decoration: none;
        }
      }
    }
  }
  .introToTop {
    transform: translateY(-100%);
    transition: 1s ease-in-out;
  }
  .intro {
    position: absolute;
    height: 100vh;
    background: #171718;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 100000;
    video {
      width: 100%;
      -o-object-fit: cover;
      margin-top: -110px;
      object-fit: cover;
    }
    .introTitle {
      position: absolute;
      left: 24px;
      margin-top: 300px;
      width: 130px;
      z-index: 10000;
      transform: translateY(100%);
      opacity: 0;
      h1 {
        font-size: 24px;
        font-family: "HankenGrotesk";
        color: #fff;
        font-weight: 700;
        line-height: 24.55px;
      }
    }
  }
  .default {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #171718;
    .swiper-container {
      position: relative;
      width: 100%;
      height: 300px;
    }
    .swiper-container > .swiper-slide__content {
      position: absolute;
      top: 0;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 400ms linear;
      transform: scale(0.8);
      &.swiper-slide-active {
        transform: scale(1);
      }
      a {
        text-decoration: none;
        color: white;
        text-align: center;
        .defaultTitle {
          height: fit-content;
          overflow: hidden;
          h2 {
            font-family: "HankenGrotesk";
            font-weight: 400;
            font-size: 24px;
            margin-top: 17px;
            line-height: 31.27px;
            white-space: nowrap;
            transform: translateY(100%);
            transition: 0.5s ease-in-out;
          }
        }
      }
      img {
        width: 265px;
      }
    }
    .swiper-slide-active {
      .defaultTitle {
        h2 {
          transform: translateY(0) !important;
          transition: 1s ease-in-out !important;
        }
      }
    }
  }
  .catalog {
    background-color: #171718;
    padding: 55px 25px;
    min-height: 426px;
    h1 {
      font-weight: 300;
      font-family: "HankenGrotesk";
      color: white;
      font-size: 24px;
    }
    .catalogList {
      margin-top: 60px;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          padding: 21px 0;
          border-bottom: 1px solid white;
          h4 {
            font-size: 15px;
            font-weight: 300;
            color: white;
            font-family: "HankenGrotesk";
            line-height: 19.54px;
          }
          a {
            text-decoration: none;
            color: white;
            span {
              font-size: 10px;
              font-weight: 300;
              color: white;
              font-family: "HankenGrotesk";
            }
          }
        }
      }
    }
  }
  .productCat {
    overflow: hidden;
    min-height: 589px;
    display: flex;
    align-items: center;
    .swiper-productCat {
      // padding-left: 25px;
      width: 100%;
      .swiper-slide {
        // width: 100%!important;
        // width: fit-content!important;
        a {
          text-decoration: none;
          color: #fff4e2;
          // text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            font-family: "AdobeArabic";
            font-weight: 400;
            font-size: 21.82px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 17px;
          }
        }
      }
    }
  }
  .projectShow {
    .section1 {
      margin-top: 96px;
      margin-bottom: 89px;
      padding: 0 21px 0 24px;
      .title {
        margin-bottom: 81px;
        h1 {
          color: #cbbba0;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 36px;
          font-family: "HankenGrotesk";
          line-height: 38.85px;
        }
      }
      .projectDetails {
        ul {
          li {
            margin-top: 20px;
            font-family: "HankenGrotesk";
            font-weight: 300;
            font-size: 16px;
            line-height: 19.2px;
            color: #cbbba0;
            span {
              color: white;
            }
          }
        }
      }
    }
    .section2 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 100%;
      }
      .playBtn {
        position: absolute;
      }
    }
    .section3 {
      margin-top: 50px;
      padding: 0 24px;
      h2 {
        font-size: 24px;
        font-family: "HankenGrotesk";
        color: #797979;
        line-height: 31.27px;
        font-weight: 300;
        margin-bottom: 24px;
      }
    }
    .section4 {
      padding: 0 24px;
      margin-top: 24px;
      p {
        font-family: "HankenGrotesk";
        font-weight: 300;
        font-size: 15px;
        line-height: 19.54px;
        color: white;
        text-align: justify;
      }
    }
    .section5 {
      padding: 50px 26.5px;
      img {
        width: -webkit-fill-available;
        filter: brightness(0.8);
      }
    }
    .section6 {
      padding: 0 27px;
      h3 {
        font-size: 24px;
        font-family: "HankenGrotesk";
        color: #797979;
        line-height: 31.27px;
        font-weight: 300;
        margin-bottom: 24px;
      }
      p {
        font-family: "HankenGrotesk";
        font-weight: 300;
        font-size: 15px;
        line-height: 19.54px;
        color: white;
        text-align: justify;
      }
    }
    .section7 {
      padding: 0 24px;
      img {
        margin-top: 24px;
        width: 100%;
      }
    }
    .section8 {
      padding: 24px;
      margin-top: 26px;
      h3 {
        font-size: 24px;
        font-family: "HankenGrotesk";
        color: #797979;
        line-height: 31.27px;
        font-weight: 300;
        margin-bottom: 24px;
      }
      img {
        width: 100%;
        margin-bottom: 24px;
      }
      p {
        font-family: "HankenGrotesk";
        font-weight: 300;
        font-size: 15px;
        line-height: 19.54px;
        color: white;
        text-align: justify;
      }
    }
    .section9 {
      padding: 0 24.5px;
      margin-top: 124px;
      margin-bottom: 100px;
      .location {
        position: relative;
        margin-bottom: 10px;
        p {
          font-family: "HankenGrotesk";
          font-weight: 300;
          font-size: 15px;
          line-height: 19.54px;
          color: white;
          text-align: left;
        }
      }
      .location::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: -50px;
        left: 0;
        background-color: white;
      }
      .detail {
        margin-bottom: 50px;
        ul {
          li {
            font-family: "HankenGrotesk";
            font-weight: 300;
            font-size: 15px;
            line-height: 19.54px;
            color: white;
            text-align: justify;

            span {
              color: #808080;
            }
          }
        }
      }
      .map {
        position: relative;
        img {
          width: 100%;
        }
      }
      .map::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -50px;
        left: 0;
        background-color: white;
      }
    }
    .relatedProject {
      display: flex;
      padding: 0 24px 28px 24px;
      justify-content: end;
      align-items: center;
      column-gap: 19px;
      .relatedTitle {
        a {
          text-decoration: none;
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: end;
          span {
            font-family: "HankenGrotesk";
            font-weight: 300;
            font-size: 14px;
            color: #959595;
          }
          h4 {
            font-family: "HankenGrotesk";
            width: min-content;
            font-weight: 400;
            font-size: 20px;
            line-height: 23.35px;
            color: white;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .pause {
    opacity: 1;
    cursor: pointer;
  }
  .play {
    opacity: 0;
    display: none;
  }
  .productList {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .arrow-scroll{
      position: absolute;
      top: 50%;
      z-index: 10;
      right: 10px;
      animation: 2s infinite arrow-scroll;

    }
    .swiper-container {
      .swiper-wrapper {
        padding-left: initial;
        margin: 0;
      }

      .swiper-slide {
        width: fit-content;
      }
    }
    .swiperDetails {
      .swiper-slide-active .slide-inner {
        transform: translateX(0) !important;
        opacity: 1 !important;
        transition: 0.5s 1s;
      }
      .swiper-slide {
        display: flex;
        justify-content: left;

        .slide-inner {
          transform: translateX(64%);
          opacity: 0;
          transition: 0.5s;
          padding: 32px 23px 0 26px;
        }
        a {
          text-decoration: none;
          color: white;
          h1 {
            font-family: "HankenGrotesk";
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 21.6px;
          }
        }
        span {
          font-family: "HankenGrotesk";
          font-weight: 300;
          font-size: 12px;
          color: #aeaeae;
        }
        p {
          color: white;
          font-size: 12px;
          font-family: "HankenGrotesk";
          line-height: 14.4px;
          text-align: justify;
          font-weight: 300;
          margin-top: 25px;
        }
      }
    }
  }
  .projectList {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .arrow-scroll{
      position: absolute;
      top: 50%;
      z-index: 10;
      right: 10px;
      animation: 2s infinite arrow-scroll;

    }
    .swiper-container {
      .swiper-wrapper {
        padding-left: initial;
        margin: 0;
      }

      .swiper-slide {
        width: fit-content;
      }
    }
    .swiperDetails {
      .swiper-slide-active .slide-inner {
        transform: translateX(0) !important;
        opacity: 1 !important;
        transition: 0.5s 1s;
      }
      .swiper-slide {
        display: flex;
        justify-content: center;

        .slide-inner {
          transform: translateX(64%);
          opacity: 0;
          transition: 0.5s;
          padding: 32px 23px 0 26px;
        }
        a {
          text-decoration: none;
          color: white;
          h1 {
            font-family: "HankenGrotesk";
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 21.6px;
          }
        }
        span {
          font-family: "HankenGrotesk";
          font-weight: 300;
          font-size: 12px;
          color: #aeaeae;
        }
        p {
          color: white;
          font-size: 12px;
          font-family: "HankenGrotesk";
          line-height: 14.4px;
          text-align: justify;
          font-weight: 300;
          margin-top: 25px;
        }
      }
    }
  }
  .aboutUS{
    .section1{
      padding: 41px 45px;
      text-align: center;
      margin-top: 44px;
      h1{
        font-weight: 300;
        font-size: 36px;
        line-height: 43.21px;
        letter-spacing: -7.5%;
        color: white;
        text-transform: uppercase;
        font-family: "HankenGrotesk";
        
      }
      .briefTitle{
        h5{
          margin-top: 20px;
        }
        h5 , span{
          font-weight: 300;
          line-height: 16.8px;
          letter-spacing: -7.5%;
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-family: "HankenGrotesk";
          span:first-child{
            margin-right: 35px;
          }
          span:last-child{
            margin-left: 35px;
          }
        }
      }
    }
    .section2{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      video{
        width: 100%;
        object-fit: cover;
      }
      .playBtn{
        position: absolute;
        z-index: 10;
      }

    }
    .section3{
      padding: 41px 25px 24px 25px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
    }
    .section4,.section7{
      padding: 0 25px 24px 25px;
      .imgContainer{
        position: relative;
        span{
          position: absolute;
          right: -10px;
          writing-mode: vertical-rl;
          color: #CBBBA0;
          font-weight: 300;
          font-family: "HankenGrotesk";
          font-size: 8px;
          text-transform: uppercase;
          bottom: 2px;
        }
      }
      img{
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }
    .section5{
      padding: 24px 25px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
    }
    .section6 , .section8{
      padding: 0 25px 24px 25px;
      .imgContainer{
        position: relative;
        span{
          transform: rotate(180deg);
          position: absolute;
          left: -10px;
          writing-mode: vertical-rl;
          color: #CBBBA0;
          font-weight: 300;
          font-family: "HankenGrotesk";
          font-size: 8px;
          text-transform: uppercase;
          bottom: 4px;
        }
      }
      img{
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }
    .section9{
      h2{
        font-family: "HankenGrotesk";
        font-weight: 400;
        font-size: 32px;
        color: white;
        padding: 20px 24px 10px;
      }
      img{
        filter: brightness(0.55);
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }
    .section10{
      padding: 24px 25px;
      display: flex;
      flex-direction: column;
      h6{
        margin-bottom: 12px;
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
      a{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
        border: 1px solid #FFF4E2;
        padding: 10px 32px;
        margin-top: 24px;
        text-decoration: none;
        width: fit-content;
        align-self: end;
      }
    }
    .section11{
      padding: 24px 25px;
      margin-bottom: 20px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
      .txtContainer{
        position: relative;
      }
      .txtContainer::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #FFF4E2;
        top: -24px;
      }
    }
  }
  .factory{
    .section1{
      padding: 41px 45px;
      text-align: center;
      margin-top: 44px;
      h1{
        font-weight: 300;
        font-size: 36px;
        line-height: 43.21px;
        letter-spacing: -7.5%;
        color: white;
        text-transform: uppercase;
        font-family: "HankenGrotesk";
        
      }
      .briefTitle{
        h5{
          margin-top: 20px;
        }
        h5 , span{
          font-weight: 300;
          line-height: 16.8px;
          letter-spacing: -7.5%;
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          font-family: "HankenGrotesk";
          span:first-child{
            margin-right: 35px;
          }
          span:last-child{
            margin-left: 35px;
          }
        }
      }
    }
    .section2 , .section9{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      video{
        width: 100%;
        object-fit: cover;
      }
      .playBtn{
        position: absolute;
        z-index: 10;
      }

    }
    .section3{
      padding: 41px 25px 24px 25px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
      h6{
        margin-bottom: 12px;
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        text-align: justify;
      }
    }
    .section4{
      padding: 0 25px 24px 25px;
      .imgContainer{
        position: relative;
      }
      img{
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }
    .section5 , .section7 {
      padding: 24px 25px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
      h6{
        margin-bottom: 12px;
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        text-align: justify;
      }
    }
    .section6 , .section8 , .section11{
      padding: 0 25px 24px 25px;
      .imgContainer{
        position: relative;
      }
      img{
        width: -moz-available;
        width: -webkit-fill-available;
      }
    }
    .section7{
      padding-top: 0;
    }
    .section10{
      padding: 24px 25px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }
    }
    .section12{
      img{
        width: 100%;
      }
    }
    .section13{
      padding: 24px 25px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      h6{
        margin-bottom: 12px;
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        text-align: justify;
      }
      p{
        font-family: "HankenGrotesk";
        color: white;
        font-weight: 200;
        font-size: 15px;
        line-height: 18px;
        text-align: justify;
      }

    }
  }
  @keyframes arrow-scroll {
    0% {
      transform: translateX(-70%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 0;
    }
  }
}
